# OS metadata
.DS_Store
Thumbs.db

# Build & packaging artifacts
*.apk
*.aab
DerivedData/
DerivedDataNative/
frontend/ios/App/DerivedDataNative/
frontend/dist-map/

# Keystores & sensitive credentials
*.jks
*.keystore
